<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if task %}Edit Task{% else %}Create Task{% endif %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>{% if task %}Edit Task{% else %}Create Task{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style ="align-self: center";>{% if task %}Update Task{% else %}Create Task{% endif %}</button>
        </form>
        <a href="{% url 'dashboard' %}">Back to Dashboard</a>
    </div>
</body>
</html>
